name: Build and publish

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up node
      uses: actions/setup-node@v1
      with:
        node-version: "16.x"

    - name: Restore cached modules
      uses: actions/cache@v2
      id: cache-packages
      with:
        path: node_modules
        key: ${{ hashFiles('**/package-lock.json') }}

    - name: Fallback if module cache fails
      run: npm ci
      if: steps.cache-packages.outputs.cache-hit != 'true'

    - name: Restore cached build
      uses: actions/cache@v2
      id: cache-build
      with:
        path: build
        key: ${{ github.sha }}

    - name: Fallback if build cache fails
      run: npm run build
      if: steps.cache-build.outputs.cache-hit != 'true'

  publish:
    name: Publish
    runs-on: ubuntu-latest

    if: ${{ github.event.name != 'pull_request' }}
    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up node
      uses: actions/setup-node@v1
      with:
        node-version: "16.x"

    - name: Restore cached modules
      uses: actions/cache@v2
      id: cache-packages
      with:
        path: node_modules
        key: ${{ hashFiles('**/package-lock.json') }}

    - name: Fallback if module cache fails
      run: npm ci
      if: steps.cache-packages.outputs.cache-hit != 'true'

    - name: Build and Publish to Worker
      uses: cloudflare/wrangler-action@2.0.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
        accountId: ${{ secrets.CF_ACCOUNT_ID }}